*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

body {
    height: 100vh;
    background-color: #ffeb3b1a;
}

@media (max-width: 768px) {
    .sectionPrincipal {
        background-size: 100px;
    }
}

nav {
    background-color: #ffeb3b1a;
    width: 100%;
    height: 80px;
}
nav .tituloSite {
    color: #d49000;
}

.navbarContent {
    display: flex;
    line-height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px;
}
@media (max-width: 768px) {
    .navbarContent {
        flex-direction: column;
        padding: 0px 10px;
    }
}

.navbarContent .logoSite {
    display: flex;
    height: 80px;
    align-items: center;
}
.navbarContent .logoSite img {
    /* width: 50px; */
    height: 50px;
    align-items: center;
    margin-right: 10px;
}

.navbarContent ul {
    list-style: none;
    display: flex;
}
.navbarContent ul li {
    margin: 0px 10px;
}
.navbarContent ul li a {
    text-decoration: none;
    color: #D49000;
    transition: ease-in .25s;
    border-radius: 8px;
    padding: 10px 20px;
}
.navbarContent ul li a:hover {
    text-decoration: none;
    background-color: #EE9C0F;
    color: #ffffff;
}

.sectionPrincipal {
    height: 80%;
    display: flex;
    align-items: center;
}


.cardInfo {
    /* background-color: rgb(255, 0, 0); */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 110px;
    color: #fff;
    text-align: center;
}

.cardInfo .info {
    padding: 10px;
    margin: 0px 2px;
    width: 200px;
    border-radius: 8px;
    height: 100px;
}

.cardInfo .info.infoUltimos {
    background-color: rgb(211, 102, 0);
    flex-basis: 340px;
}
.cardInfo .info.infoTotal {
    background-color: rgb(0, 80, 126);
}
.cardInfo .info.infoSaldoMensal {
    background-color: rgb(0, 126, 42);
}
.cardInfo .info.infoGastoMensal {
    background-color: rgb(165, 1, 1);
}